/* CSS = Cascading Style Sheets */

/*

  We want to keep presentation separate from content

  This is an example of a multi-line comment

*/

/* you can select based on elements */

article {
  font-size: 16px;
}

p,
li,
h6 {
  font-size: 12px;
}

em {
  font-style: normal;
  color: brown;
  text-decoration: underline;
}

ul {
  /* hexideximal value instead of common word */
  background-color: #aeaeae;
}

/*
  element selectors can be combined to be more specific
*/
footer ul {
  list-style-type: none;
  font-size: 10px;
}

/*
  classes are reusable and more specific than
  a single an element selector
*/
.plain {
  color: grey;
}

/*
  you can nest them as well to be even more specific
*/
article .plain {
  font-style: normal;
}
